:root {
  --green-400: #466441;
  --green-600: #36593f;
  --white: #ffffff;

  font-size: 62.5%; /* 10px */
  font-family: "Poppins", sans-serif;
}
ul{
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--green-600);
}

body,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--green-400);
  font-size: 1.6rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding-inline: 2.4rem;

  background: url(./Design\ sem\ nome.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header span.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-400);
}

nav ul {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

header .login-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1.4rem;
  font-size: 1.6rem;
}

header .login-option i {
  font-size: 2.4rem;
}

header .login-option a {
  text-decoration: none;
  color: var(--green-600);
}

section {
  display: flex;
  flex-direction: column;
}

section .content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}



section#about {
  background: var(--green-600);
  color: var(--white);
  padding: 2.4rem;

  display: flex;
  gap: 2.4rem;
  min-height: 50vh;
}

section#about h2 {
  font-size: 2.4rem;
  text-align: center;
}

section#about .container-content {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3.2rem;
  font-size: 1.8rem;
}

.content-img {
  width: 75%;
}

.content-img img {
  width: 100%;
}

.container-content h3.pillars-title {
  font-size: 2rem;
  background: var(--white);
  border-radius: 5rem;
  text-align: center;
  padding: 1.2rem;
  color: var(--green-400);
  margin-bottom: 2.4rem;
}

section#pillars-company {
  background: var(--green-400);
  border-radius: 5rem ;
  margin-top: -10rem;
  padding: 2.4rem;
  height: 40vh;
}

#pillars-company .pillars-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
}
#pillars-company .pillars-content ul{
  text-align: center;

}

.pillars-content .content {
  color: var(--white);
  font-size: 1.6rem;
  text-align: justify;
}

@media screen and (max-width: 820px) {
  section#about .container-content {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    gap: 2.4rem;
  }
  section .content + .content {
    margin-top: 2.4rem;
  }
  .content-img {
    width: 100%;
  }

  .content-img img {
    width: 100%;
  }
  .container-content h3.pillars-title {
    width: 100%;
  }

  section#pillars-company .container-content {
    display: grid;
    grid-template-columns: auto;
    row-gap: 3.2rem;
  }
  section#pillars-company {
    margin-top: 0;
  }
  section#pillars-company ul {
    text-align: center;
    list-style: none;
  }
}

@media screen and (min-width: 821px) and (max-width: 1200px) {
  section#about .container-content {
    grid-template-columns: auto auto;
  }
  .content-img {
    width: 100%;
  }

  .content-img img {
    width: 100%;
  }
}
