body {
  background-color: #fff6f0;
  margin: 0px;
}

img {
  max-width: 100%;
}

#Cabecalho {
  background-color: white;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  place-content: space-between;
  gap: 10px;
}

#Logo {
  padding: 5px;
}

#Menu {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

#Menu a {
  text-decoration: none;
  color: #466441;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  padding: 20px;
}

#Conta {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px;
  align-content: center;
}

#Conta a {
  text-decoration: none;
  color: #466441;
  font-family: League Spartan;
  font-size: 24px;
  font-style: normal;
  margin-left: 10px;
  padding-right: 20px;
}
.sobre1 img {
  max-width: 75%;
  margin: auto;
}

.sobre1 h1 {
  font-family: "Century Gothic", sans-serif;
  margin: 20px;
}

.nossaHistoria h1 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 82px;
}

.nossaHistoria h2 {
  font-family: "Century Gothic", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 45px;
  padding-bottom: 120px;
}

.nossaHistoria {
  background-color: #98c98f;
}
#missaoText {
  text-align: center;
  margin-top: 30px;
}
.missao img {
  width: 40%;
  margin: auto;
}

.missao #h1 {
  font-family: "Russo One", sans-serif;
  font-size: 80px;
  justify-content: center;
  display: inline;
  margin-top: 20px;
}

.missao #h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
  padding-bottom: 120px;
}

.visao-container {
  position: relative;
}

#linha {
  width: 45%;
  height: auto;
  display: block;
  transform: scaleX(-1);
}

.texto-sobre-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
  text-align: center;
}

.texto-sobre-imagem h1 {
  margin: 0;
  font-family: "Russo One", sans-serif;
  font-size: 80px;
  margin-top: 200px;
}

.texto-sobre-imagem h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 40px;
}

.valores img {
  width: 50%;
  margin: auto;
}

.valores h1 {
  margin: 0;
  font-family: "Russo One", sans-serif;
  font-size: 70px;
  text-align: center;
}

.valores h2 {
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  font-size: 25px;
}
