.cabecalho {
    background-image: url('Design\ sem\ nome.png');
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#Logo {
    max-width: 100px;
    height: auto;
}


.cabecalho__menu {
    display: flex;
    gap: 20px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.cabecalho__menu__link:hover {
    color: #007BFF;
}


.cabecalho__conta {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho__conta img {
    max-width: 20px;
    height: auto;
}

.cabecalho__conta .cabecalho__menu__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.cabecalho__conta .cabecalho__menu__link:hover {
    color: #007BFF;
}

.sobre-nos-titulo {
    text-align: center; 
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 0; 
}

.conteudo-parte1 {
    background-color: #a8cfa8; 
    
}


.conteudo-parte2 {
    background-color: #00ff0d1e; 
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.coluna-esquerda
.coluna-centro{
    text-align: center; 
    margin-top: 20px;
}
imagem-direita {
    max-width: 100%; 
    height: auto;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}
imagem-direita img {
   max-width: 100%;
   height: auto;
}
.conteudo-parte3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.coluna-direita {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    background-color: #f0f0f0; 
    padding: 20px;
}
.coluna-esquerda {
    text-align: left;
}
.coluna-centro {
    text-align: center;
}
.coluna-direita {
    text-align: right;
}
.coluna-centro ul {
    list-style: none;
    padding: 0;
}
.coluna-centro ul li {
    margin-bottom: 10px;
}
.coluna-centro h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.coluna-esquerda h3,
.coluna-direita h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.coluna-esquerda p,
.coluna-direita p {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}
